<% layout('layouts/boilerplate') %>
<div class="hom">
    <h1 class="mmsc">MMMusic</h1>
    <div class="btnn">
        <a class="btn" href="/songs">Show all songs <i class="animation"></i><i class="animation"></i></a>
        <a class = "btn" href="http://localhost:3000/text">Tell us how you fell <i class="animation"></i><i class="animation"></i> </a>
    </div>

</div>
